<!-- Bidding container -->
<div class="container">
    <!-- PRICE DISPLAY -->
    <div class="row">
      <!-- Old bid display -->
      <div class="col fill-block">
        Alt: 10€
      </div>
      <!-- New bid display -->
      <div class="col fill-block">
        Neu: 10€
      </div>
    </div>
  
    <!-- Action buttons row -->
    <div class="row">
      <!-- Increase/ Decrease bid buttons-->
      <div class="col">
        <div class="row">
          <button class="col-12">+</button>
          <button class="col-12">-</button>
        </div>
      </div>
  
      <!-- Bid button -->
      <div class="col">
        <button class="fill-block">Bid!</button>
      </div>
    </div>
  </div>
  <!-- End of bidding container -->